---
import CartIcon from "@/icons/Cart.astro"

interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<button class:list={["flex w-full flex-row items-center justify-center p-2 text-beige", className]}>
	<CartIcon class="mr-3 size-5 stroke-beige" /><span class="mt-1">Añadir</span></button
>
