---
import StarEmpty from "@/icons/StarEmpty.astro"
import StarFilled from "@/icons/StarFilled.astro"
import StarHalf from "@/icons/StarHalf.astro"

interface Props {
	rating: number
	starsClass: string
}

const { rating, starsClass } = Astro.props

const starComponents = { StarFilled, StarHalf, StarEmpty }

const stars = Array.from({ length: 5 }, (_, i) => {
	const star = i + 1
	if (rating >= star) {
		return "StarFilled"
	} else if (rating + 0.5 >= star) {
		return "StarHalf"
	} else {
		return "StarEmpty"
	}
})
---

<div class="flex">
	{
		stars.map((component) => {
			const Component = starComponents[component]
			return <Component class={starsClass} />
		})
	}
</div>
