---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Login">
	<div
		class="absolute bottom-0 h-[90%] rounded-t-lg bg-beige p-8 shadow-[0_-5px_15px_0_rgba(0,0,0,0.05)] xl:h-3/4 xl:w-2/5"
	>
		<div class="mb-8 text-center">
			<h2 class="text-2xl font-bold">Inicia sesion</h2>
			<p class="mt-2 text-gray-600">
				Introduce tu e-mail para empezar. En caso de que no existe ninguna cuenta asociada a ese
				mail, empezará el proceso para crearla. <br />
			</p>
		</div>
		<form class="space-y-6">
			<div>
				<label for="email" class="mb-2 block font-semibold text-bluegray"> Email </label>
				<input
					id="email"
					name="email"
					type="email"
					placeholder="mail@example.com"
					class="w-full rounded-md border bg-beige px-4 py-2 focus:border-bluegray focus:outline-none"
				/>
			</div>
			<button
				type="submit"
				class="w-full rounded-md bg-bluegray py-3 font-semibold text-beige transition hover:bg-bluegray-70 focus:outline-none"
			>
				Continuar
			</button>
		</form>
	</div>
</Layout>
