---
import CapricciLogo from "@/icons/CapricciLogo.astro"
import HeaderMenu from "./HeaderMenu"
import PreHeader from "./PreHeader.astro"
import SearchBar from "./SearchBar"

interface Props {
	withHeaderMenu?: boolean
	withSearchBar?: boolean
}

const { withHeaderMenu, withSearchBar } = Astro.props
---

<header class="sticky top-0 bg-bluegray">
	<PreHeader />
	<div
		class:list={[
			"flex h-10 flex-row items-center px-3 py-2 sm:gap-x-10 sm:px-40 md:h-20 lg:gap-x-16",
			!withSearchBar && !withHeaderMenu ? "justify-center" : "justify-between",
		]}
	>
		<CapricciLogo class="h-3 w-auto fill-beige xs:h-5 lg:h-7" />
		{
			withSearchBar && (
				<SearchBar className="relative hidden h-8 grow flex-row sm:flex" client:load />
			)
		}
		{withHeaderMenu && <HeaderMenu client:load />}
	</div>
	{
		withSearchBar && (
			<div class="pb-2 sm:hidden">
				<SearchBar className="relative mx-3 flex h-8 flex-grow flex-row" client:load />
			</div>
		)
	}
</header>
