---
import HeaderMenu from "./HeaderMenu.astro"
import PreHeader from "./PreHeader.astro"
import SearchBar from "./SearchBar.astro"
import CapricciLogo from "@/icons/CapricciLogo.astro"
---

<header class="sticky top-0 bg-beige">
	<PreHeader />
	<div
		class="flex flex-row items-center justify-between px-3 py-4 sm:gap-x-10 sm:px-16 lg:gap-x-16"
	>
		<CapricciLogo />
		<SearchBar class="hidden h-8 grow flex-row sm:flex" />
		<HeaderMenu />
	</div>
	<div class="py-3 sm:hidden">
		<SearchBar class="mx-3 flex h-8 grow flex-row" />
	</div>
</header>
