---
import CapricciLogo from "@/icons/CapricciLogo.astro"
import HeaderMenu from "./HeaderMenu.astro"
import PreHeader from "./PreHeader.astro"
import SearchBar from "./SearchBar.astro"

interface Props {
	onlyLogo?: boolean
}

const { onlyLogo } = Astro.props
---

<header class="sticky top-0 bg-bluegray">
	<PreHeader />
	<div
		class:list={[
			"flex h-20 flex-row items-center px-3 sm:gap-x-10 sm:px-40 lg:gap-x-16",
			onlyLogo ? "justify-center" : "justify-between",
		]}
	>
		<CapricciLogo class="h-3 w-auto fill-beige xs:h-5 lg:h-7" />
		{
			!onlyLogo && (
				<>
					<SearchBar class="relative hidden h-8 grow flex-row sm:flex" />
					<HeaderMenu />
				</>
			)
		}
	</div>
	{
		!onlyLogo && (
			<div class="py-3 sm:hidden">
				<SearchBar class="mx-3 flex h-8 grow flex-row" />
			</div>
		)
	}
</header>
