---
import HeartIcon from "@/icons/Heart.astro"
import UserIcon from "@/icons/User.astro"
import ShoppingCartHeaderButton from "../ShoppingCart/ShoppingCartHeaderButton"
import ShoppingCartList from "../ShoppingCart/ShoppingCartList"
---

<div class="flex w-auto space-x-6">
	<a class="flex flex-col items-center transition hover:scale-105" href="/">
		<UserIcon />
		<p class="hidden lg:block">Iniciar sesión</p>
	</a>
	<a class="flex flex-col items-center transition hover:scale-105" href="/">
		<HeartIcon class="size-4 xs:size-6" />
		<p class="hidden lg:block">Favoritos</p>
	</a>
	<div>
		<ShoppingCartHeaderButton client:visible />
		<ShoppingCartList client:load />
	</div>
</div>
