---
import HeaderElement from "./HeaderElement.astro";
---

<div class="flex space-x-6 w-auto">
    <HeaderElement
        classElement="flex flex-col items-center hover:scale-105 transition"
        icon="user"
        iconClass="size-4 xs:size-6"
        text="Iniciar sesión"
        textClass="hidden lg:block"
    />
    <HeaderElement
        classElement="flex flex-col items-center hover:scale-105 transition"
        icon="heart"
        iconClass="size-4 xs:size-6"
        text="Favoritos"
        textClass="hidden lg:block"
    />
    <HeaderElement
        classElement="flex flex-col items-center hover:scale-105 transition"
        icon="cart"
        iconClass="size-4 xs:size-6"
        text="Carrito"
        textClass="hidden lg:block"
    />
</div>
