---
interface Props {
	classElement?: string
	text: string
	textClass?: string
}

const { classElement,  text, textClass } = Astro.props
---

<button class:list={classElement}>
	<slot name="icon" />
	<slot />
	<p class:list={textClass}>{text}</p>
</button>
