---
import CartIcon from "@/icons/Cart.astro"
import HeartIcon from "@/icons/Heart.astro"
import UserIcon from "@/icons/User.astro"
---

<div class="flex w-auto space-x-6">
	<a class="flex flex-col items-center transition hover:scale-105" href="/">
		<UserIcon />
		<p class="hidden lg:block">Iniciar sesión</p>
	</a>
	<a class="flex flex-col items-center transition hover:scale-105" href="/">
		<HeartIcon />
		<p class="hidden lg:block">Favoritos</p>
	</a>
	<a class="flex flex-col items-center transition hover:scale-105" href="/">
		<CartIcon class="size-4 stroke-bluegray xs:size-6" />
		<p class="hidden lg:block">Carrito</p>
	</a>
</div>
