---
import ShoppingCartList from "@/components/Cart/CartList"
import CartWidget from "@/components/Cart/CartWidget"
import HeartIcon from "@/icons/Heart.astro"
import UserIcon from "@/icons/User.astro"
---

<div class="grid grid-cols-3 place-items-center gap-4">
	<a class="flex flex-col items-center p-1 transition hover:scale-105" href="/login">
		<UserIcon class="size-4 stroke-beige xs:size-6" />
		<p class="hidden text-beige lg:block">Iniciar sesión</p>
	</a>
	<a class="flex flex-col items-center p-1 transition hover:scale-105" href="/">
		<HeartIcon class="size-4 stroke-beige xs:size-6" />
		<p class="hidden text-beige lg:block">Favoritos</p>
	</a>
	<div class="relative">
		<CartWidget client:load />
		<ShoppingCartList client:load />
	</div>
</div>
