---
import MoneyIcon from "@/icons/Money.astro"
import SmileIcon from "@/icons/Smile.astro"
import TruckIcon from "@/icons/Truck.astro"
---

<div class="grid h-9 overflow-hidden bg-beige py-1 xl:grid-cols-2 2xl:grid-cols-3">
  <div class="flex flex-row items-center justify-center">
    <TruckIcon class="size-6 stroke-bluegray" />
    <p class="ml-1 mt-1 text-base text-bluegray">Envío gratis a partir de 49€</p>
  </div>

  <div class="hidden flex-row items-center justify-center xl:flex">
    <MoneyIcon class="size-6 stroke-bluegray" />
    <p class="ml-1 mt-1 text-base text-bluegray">
      10% Descuento en tu primer pedido, cupón HELLOCAPRICCI (+50€ de compra)
    </p>
  </div>

  <div class="hidden flex-row items-center justify-center 2xl:flex">
    <SmileIcon class="size-6 stroke-bluegray" />
    <p class="ml-1 mt-1 text-base text-bluegray">¿Necesitas ayuda?</p>
  </div>
</div>
