---
import HeaderElement from "./HeaderElement.astro";
---

<div class="bg-bluegray py-1 grid xl:grid-cols-2 2xl:grid-cols-3 h-auto overflow-hidden">
    <HeaderElement
        classElement="flex flex-row justify-center items-center"
        text="Envío gratis a partir de 49€"
        textClass="text-white ml-1 mt-1 text-base"
        icon="truck"
        iconClass="size-6"
    />
    <HeaderElement
        classElement="hidden xl:flex flex-row justify-center items-center"
        text="10% Descuento en tu primer pedido, cupón HELLOCAPRICCI (+50€ de compra)"
        textClass="text-white ml-1 mt-1 text-base"
        icon="money"
        iconClass="size-6"
    />
    <HeaderElement
        classElement="hidden 2xl:flex flex-row justify-center items-center"
        text="¿Necesitas ayuda?"
        textClass="text-white ml-1 mt-1 text-base"
        icon="smile"
        iconClass="size-6"
    />
</div>
