---
import MoneyIcon from "@/icons/Money.astro"
import SmileIcon from "@/icons/Smile.astro"
import TruckIcon from "@/icons/Truck.astro"
---

<div class="grid h-auto overflow-hidden bg-bluegray py-1 xl:grid-cols-2 2xl:grid-cols-3">
	<div class="flex flex-row items-center justify-center">
		<TruckIcon />
		<p class="ml-1 mt-1 text-base text-beige">Envío gratis a partir de 49€</p>
	</div>

	<div class="hidden flex-row items-center justify-center xl:flex">
		<MoneyIcon />
		<p class="ml-1 mt-1 text-base text-beige">
			10% Descuento en tu primer pedido, cupón HELLOCAPRICCI (+50€ de compra)
		</p>
	</div>

	<div class="hidden flex-row items-center justify-center 2xl:flex">
		<SmileIcon />
		<p class="ml-1 mt-1 text-base text-beige">¿Necesitas ayuda?</p>
	</div>
</div>
