---
import SearchIcon from "@/icons/Search.astro"

const { class: className } = Astro.props
---

<div class:list={className}>
	<input
		type="search"
		placeholder="¿Qué estás buscando?"
		class="h-full w-full rounded-lg bg-beige pl-3 hover:cursor-pointer focus:outline-none"
	/>
	<span class="absolute inset-y-0 right-0 flex items-center pr-2"
		><button type="submit" class="focus:shadow-outline p-1 focus:outline-none"
			><SearchIcon class="size-6 stroke-bluegray" /></button
		></span
	>
</div>
