---
interface Props {
    classElement?: string;
}

const { classElement } = Astro.props;
---

<div class={classElement}>
    <input
        type="text"
        placeholder="Buscar"
        class="border-y focus:border-y-bluegray border-l focus:border-l-bluegray focus:outline-none h-full w-full rounded-l-lg pl-3 hover:cursor-pointer"
    />
    <div class="flex bg-bluegray w-12 h-auto rounded-r-lg items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            class="icon icon-tabler icon-tabler-search size-6"
            viewBox="0 0 24 24">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0m18 11-6-6"></path>
        </svg>
    </div>
</div>
