---
import SearchIcon from "@/icons/Search.astro"

const { class: className } = Astro.props
---

<div class:list={className}>
	<input
		type="text"
		placeholder="Buscar"
		class="h-full w-full rounded-l-lg border-y border-l bg-beige pl-3 hover:cursor-pointer focus:border-y-bluegray focus:border-l-bluegray focus:outline-none"
	/>
	<div class="flex h-auto w-12 items-center justify-center rounded-r-lg bg-bluegray">
		<SearchIcon />
	</div>
</div>
